<div class="container my-5">
    <h1 class="mb-3">Добавление новой услуги.</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addAnimalService()">
                <div class="mb-3">
                  <label for="name" class="form-label">Название услуги:</label>
                  <input type="text" class="form-control" id="name" 
                  [(ngModel)]="addAnimalServiceRequest.name" name="name">
                </div>
                <div class="mb-3">
                    <label for="categoryId" class="form-label">Id категории услуги:</label>
                    <input type="number" class="form-control" id="categoryId" 
                    [(ngModel)]="addAnimalServiceRequest.categoryId" name="categoryId">
                  </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>  
    </div>
</div>
