<div class="container my-5">
    <h1 class="mb-3">Добавление новой услуги.</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm">
                <div class="mb-3">
                  <label for="service-name" class="form-label">Название услуги:</label>
                  <input type="text" class="form-control" id="service-name">
                </div>
                <div class="mb-3">
                    <label for="service-category-id" class="form-label">Id категории услуги:</label>
                    <input type="number" class="form-control" id="service-category-id">
                  </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>  
    </div>
</div>
